html,body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
.btn {
    background-color: inherit;
    border: none;
    outline: none;
    text-transform:uppercase;
    cursor:pointer;
    font-size:1.2em;
    padding: 10px 12px;
}

.red{
    color: red !important;
}
.green{
    color:green !important;
}
.white{
    margin-bottom: 0%;
}
.large-padding{
    padding:10px 7px;
}

.marginElements{
    background-color: aqua;
}
.text-left {
    text-align: left;
}

a,a:visited{
    color: inherit;
    text-decoration: none;
}
.no-margin{
    margin:0px;
}

#logo {
    font-size: 1.2em;
}
.field{
    margin-top: 1em;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display:block;
    padding: 10px 0px;
    font-size: 1.2em;
}
.articles {
    display: inline-grid;
    margin: 4vh;
    box-shadow: 1px 1px 6px #222;
    border-radius: 1vh;
    width: 18vw;
    padding: 1vh;
    z-index: 0;
    background-color: white;
    transition: transform 0.5s;
}
.articles:hover {
    cursor: pointer;
    color: white;
    background-color: #F27616;
    animation: enable 0.5s;
}


@keyframes drag {
    0% {
        box-shadow: none;
        opacity: 1;
    }
    50% {
        box-shadow: none;
        opacity: 0.5;
    }
    100% {
        box-shadow: none;
        opacity: 1;
    }
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.articles button {
    margin: 2px;
    width: auto;
    font-weight: bold;
}
.articles button:hover {
    cursor: pointer;
    transition: all 0.33s;
}

.article {
    display: inline-grid;
    margin: 4vh;
    box-shadow: 1px 1px 6px #222;
    border-radius: 1vh;
    width: 90%;
    align-content: center;
    padding: 1vh;
    z-index: 0;
    background-color: white;
    transition: transform 0.5s;
}

